@tailwind base;
@tailwind components;
@tailwind utilities;

.test{
    border: 1px solid red !important;
}
.csw {
    @apply mx-auto px-3 w-full sm:max-w-[540px] md:max-w-[740px] lg:max-w-[960px] xl:max-w-[1160px];
  }
.theme-options{
    @apply flex items-center pl-2 gap-2 dark:hover:bg-gray-600 cursor-pointer;
  }
.labelelement{
    @apply absolute left-1 top-1/2 -translate-y-1/2 text-gray-500 transition-all duration-200 ease-in-out 
    peer-placeholder-shown:top-1/2 
    peer-placeholder-shown:left-1 
    peer-placeholder-shown:-translate-y-1/2
    peer-placeholder-shown:text-base 
    peer-focus:top-0 
    peer-focus:left-3 
    peer-focus:-translate-y-1/3 
    peer-focus:text-xs 
    peer-focus:font-semibold 
    peer-focus:text-black 
    dark:peer-focus:text-white 
    bg-white dark:bg-black;
  }
  input:-webkit-autofill {
    background-color: #0f172a !important; /* Adjust to match your design */
    color: white !important;
  }
  .input-div input:not(:placeholder-shown) {
      label{
        top: 0px;
        left: 12px;

       }
  }
 