@tailwind base;
@tailwind components;
@tailwind utilities;

.test {
  border: 1px solid red !important;
}
.csw {
  @apply px-3 mx-auto w-full  sm:max-w-[540px] md:max-w-[740px] lg:max-w-[960px] xl:max-w-[1160px];
}

input:-webkit-autofill {
  background-color: #0f172a !important; /* Adjust to match your design */
  color: white !important;
}

input,
textarea,
select,
option {
  @apply text-white dark:bg-black-bg dark:outline-none  pl-3 py-2 rounded-md  bg-gray-700 text-sm border-[0.1px] border-gray-700 focus:border-white;
}
.portfolio {
  display: flex;
  flex-direction: column;
  gap: 8px;

  h2 {
    @apply text-center text-2xl;
  }
  span {
    @apply text-red-600 text-sm;
  }
  .buttons {
    @apply flex flex-row justify-between mt-5;
  }
  .deleteExp {
    width: fit-content;
    float: right;
    svg {
      @apply w-6 h-6;
    }
  }
}
.nav-next {
  @apply  bg-black dark:bg-white text-white text-sm dark:text-black py-2 px-3 rounded-md border-[0.1px] border-gray-700 w-fit float-right hover:bg-opacity-80 ;
}
.nav-prev{
  @apply bg-white dark:bg-black border-[0.1px] border-gray-700 rounded-md py-2 px-3 text-sm hover:bg-opacity-80;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  color: white;
}
